.header {
  background-color: var(--blue);
  height: 6rem;
}

.headshot {
  position: absolute;
  top: 1.5rem;
  left: 0.5rem;
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  border: 2px solid white;
}

.title {
  font-weight: lighter;
  font-size: 1.75rem;
  color: rgb(129, 129, 129);
}

.header code,
.title code {
  background: none;
  border: none;
}

.headertite {
  font-size: 2rem;
  padding-top: 1.5rem;
  text-align: center;
  color: white;
  font-weight: bold;
}

.main {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.content > div:not(:first-child) {
  margin-top: 4rem;
}

.specialties {
  display: flex;
  flex-wrap: wrap;
}

.specialties > div {
  /* background: var(--light-blue); */
  background: var(--blue);
  color: white;

  padding: 0.75rem 1.5rem;
  border-radius: 3rem;
  margin: 0.75rem 0.75rem 0 0;
}

.footer {
  height: 4rem;
  text-align: center;
  padding-top: 2rem;
}

.description {
  margin-top: 0.25rem;
}

.link-no-style,
.link-no-style:active,
.link-no-style:visited,
.link-no-style:hover,
.link-no-style:focus {
  color: white;
  text-decoration: none;
}

.mail,
.linkedin,
.github {
  position: absolute;
  top: 2rem;
}

.mail {
  right: 5.5rem;
}
.linkedin {
  right: 2.875rem;
}
.github {
  right: 0.5rem;
}

.mail svg,
.linkedin svg,
.github svg {
  width: 2rem;
  height: 2rem;
  color: white;
}

a, a:active, a:visited, a:focus {
  color: var(--blue);
  opacity: 1;
  text-decoration: none;
}
a:hover {
  opacity: 0.8;
  text-decoration: none;
}

h4 {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

h5 {
  margin-bottom: 0;
  font-weight: bold;
}

h4, h5 {
  letter-spacing: normal;
}
h4 {
  font-size: 1.75rem;
}
h5 {
  font-size: 1.5rem;
}

ul {
  margin-left: 1rem;
  margin-bottom: 0;
  list-style: disc inside;
}

ul ul {
  font-size: 100%;
  margin: 0rem 0 0rem 2rem;
  list-style: circle inside;
}

ul li {
  font-weight: bold;
  margin-bottom: 0.25rem;
  margin-top: 0.75rem;
}

ul ul li {
  font-weight: normal;
  margin-top: 0;
  opacity: 0.6;
}

@media screen and (min-width: 550px) {
  .headshot {
    left: 1.5rem;
  }

  .title {
    font-size: 2rem;
  }

  .skills {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    gap: 1.5rem;
  }

  .mail img,
  .linkedin img,
  .github img {
    width: 2rem;
    height: 2rem;
  }

  .mail {
    right: 8rem;
  }
  .linkedin {
    right: 4.5rem;
  }
  .github {
    right: 1rem;
  }

  h4 {
    font-size: 2rem;
  }
  h5 {
    font-size: 1.75rem;
  }
}

@media screen and (min-width: 750px) {
  .title {
    font-size: 2.5rem;
  }

  h4 {
    font-size: 2.5rem;
  }
  h5 {
    font-size: 2.25rem;
  }
}

@media screen and (min-width: 960px) {
  .title {
    font-size: 3rem;
  }

  h4 {
    font-size: 3rem;
  }
  h5 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 960px) {
  .main {
    width: 100%; /* overwrite .container */
    padding: 0;
  }
  .row {
    padding: 0 1.5rem;
  }
}
