.post-content li {
  font-weight: normal;
}

.post-content ol > li > ul > li {
  font-size: 90%;
  opacity: 1;
}

.post-content ol > li {
  margin-top: 2rem;
}

.post-content ol > li > ul {
  margin-top: 0.25rem;
}

.post-content > h4:not(:first-child) {
  margin-top: 4rem;
}

.post-content > h4::first-child {
  margin-top: 0;
}
